<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
    http://www.springframework.org/schema/tx  
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd ">
    
	<!-- 加载jdbc.properties文件   -->
     <bean id="propertyConfigurer"  
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"  lazy-init="false">  
		<property name="locations">  
			<list>  
				<value>classpath:com/dxs/config/jdbc.properties</value>  
			</list>  
		</property>  
	</bean> 
	
	<!-- proxool 配置datasource数据源  -->
	 <bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource">
	 	<property name="driver" value="${jdbc.driver}"></property>
	 	<property name="driverUrl" value="${jdbc.url}"></property>
	 	<property name="user" value="${jdbc.username}"></property>
	 	<property name="password" value="${jdbc.password}"></property>
	 	<property name="minimumConnectionCount" value="${min}"></property>
	 	<property name="maximumConnectionCount" value="${max}"></property>
	 </bean>
	 
	 <!-- 配置sqlSessionFactory工厂 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
		<property name="dataSource" ref="dataSource" />  
		<property name="configLocation" value="classpath:com/dxs/config/sqlMapConfig.xml"></property>  
	</bean>
	
	<!-- 采用spring与mybatis整合的第二种方法 -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0"  ref="sqlSessionFactory" />
	</bean>

</beans>